
#container{
	margin: 0 auto;
	/*height: 400px;*/
	height: auto;
	width: 350px;
	border: 5px solid rgba(240,173,78,1);
	border-radius: 5px;
	padding-top: 20px;
	position: absolute;
	top: 10%;
	left: 50%;
	/*margin-top: -300px;*/
	margin-left: -175px;
	background-color: rgba(218,218,218,0.3);
}

#container h4{
	text-align: center;
}

.navbar-form{
	/*border: 1px solid red;*/
	width: 100%;
	margin-bottom: 25px;
	margin-top: 0;
}

.navbar-form .form-group{
	display: block;
	margin: 35px 0;
	margin-left: 15px;
}

.navbar-form .form-group input{
	width: 200px;
}

.navbar-form > .form-group:nth-child(1) > .form-control,
.navbar-form > .form-group:nth-child(2) > .form-control,
.navbar-form > .form-group:nth-child(3) > .form-control{
	margin-left: 26px;
}


