
#container{
	/*width: 400px;*/
	/*height: 140px;*/
	border: 5px solid black;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -200px;
	/*margin-top: -70px;*/
}

nav *{
	display: inline-block;
}

nav div{
	/*display: inline-block;*/
	width: 150px;
	border-bottom: 1px solid black;
	margin: 10px;
}

nav .title,
nav .data{
	/*display: inline-block;*/
	margin-left: 1em;
}

#container nav:nth-child(4) input{
	width: 150px;
	display: block;
	margin: 15px auto;
	background-color: black;
	color: white;
}

#container nav:nth-child(4) input:hover{
	background-color: darkgrey;
	border: 1px solid black;
	color: black;
}
